@(userForm: Form[User])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f)}

@main("User-Self-Service") {
	<!-- Begin page content -->
	<div class="container">
		<div class="page-header">
			<h1>Create an account</h1>

				<!--Jump to formElements.scala.html-->

				@form(routes.UserApplication.save()) {
					<fieldset>@userFormElements(userForm)</fieldset>
				
					<div class="actions">
						<input type="submit" value="Create Account" class="btn btn-primary"> or
						<a href="@routes.Application.list()" class="btn btn-default">Cancel</a>
					</div>			
				}

			</div>
		</div>
	</div>
}
