@(employeeForm: Form[Employee]) 

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f)}

@main("Employee-Self-Service") {
	<!-- Begin page content -->
	<div class="container">
		<div class="page-header">
			<h1>Log a workout</h1>

			<!--Current Date Label-->
			<h2 id="currDate"> <b> </b> </h2>

			<script>
				var d = new Date();
				document.getElementById("currDate").innerHTML = "Today is " + d.toDateString();
			</script>

			<!--Weight Input Box-->
			<p> My Weight Today Is </p>
			<div class="row">
				<div class="col-sm-3">
					<div class="input-group">
						<div class="input-group-btn">
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Pounds (lb) <span class="caret"></span></button>
							<ul class="dropdown-menu" role="menu">
								<!--<li><a href="#">Pounds (lb)</a></li>-->
								<li><a href="#">Kilograms (kg)</a></li>
							</ul>
						</div><!-- /btn-group -->
						<input type="text" class="form-control" aria-label="...">
					</div><!-- /input-group -->
				</div><!-- /.col-lg-6 -->
			</div><!-- /.row -->

		</div>

		<div class="bs-example" data-example-id="simple-table">
			<table class="table">
				<caption>Record your lifts, track progress.</caption>
				<thead>
				<tr>
					<th>Workout</th>
					<th>Set 1</th>
					<th>Set 2</th>
					<th>Set 3</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<th scope="row">Bench Press</th>
					<td class="success">10x185</td>
					<td class="warning">9x185</td>
					<td class="danger">5x185</td>
				</tr>
				<tr>
					<th scope="row">Incline Dumbbell</th>
					<td class="success">8x60</td>
					<td class="success">8x60</td>
					<td class="warning">7x60</td>
				</tr>
				<tr>
					<th scope="row">Cable Fly</th>
					<td class="success">12x25</td>
					<td class="warning">8x25</td>
					<td class="danger">12x20</td>
				</tr>
				</tbody>
			</table>
		</div><!-- /example -->
		
		<div class="row">
			<div class="col-md-8">

				<!--Jump to formElements.scala.html-->

				@form(routes.Application.save()) {	
					<fieldset>@formElements(employeeForm)</fieldset>
				
					<div class="actions">
						<input type="submit" value="Submit this workout" class="btn btn-primary"> or
						<a href="@routes.Application.list()" class="btn btn-default">Cancel</a>
					</div>			
				}

			</div>

			<div class="col-md-4">
				@info()
			</div>

		</div>
	</div>
}
