@(employeeForm: Form[Employee])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@inputText(employeeForm("date"), '_label -> "Today's Date", 'class -> "form-control")
@inputText(employeeForm("name"), '_label -> "Bench Press", 'class -> "form-control")
@inputText(employeeForm("address"), '_label -> "Squat", 'class -> "form-control")
@inputText(employeeForm("dob"), '_label -> "Deadlift", 'class -> "form-control")
@inputText(employeeForm("joiningDate"), '_label -> "Overhead Press", 'class -> "form-control")
@inputText(employeeForm("designation"), '_label -> "Powerclean", 'class -> "form-control")