@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("bootswatch-united", "bootstrap.min.css"))">
		
		@* Optional theme *@
		@* <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap", "bootstrap-theme.min.css"))"> *@
        
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	    <!--[if lt IE 9]>
	      <script src="@routes.WebJarAssets.at(WebJarAssets.locate("html5shiv.js"))"></script>
	      <script src="@routes.WebJarAssets.at(WebJarAssets.locate("respond.min.js"))"></script>
	    <![endif]-->
		
    </head>
    <body>
    
    	<!-- Fixed navbar -->
	    @navbar()

		<!--Current Date Label-->
		<h3 id="currDate"> <b> </b> </h3>

		<script>
			var d = new Date();
			document.getElementById("currDate").innerHTML = "Today is " + d.toDateString();
		</script>

		<!--Weight Input Box-->
		<p> Today's Weight </p>
		<div class="row">
			<div class="col-sm-3">
				<div class="input-group">
					<div class="input-group-btn">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Action <span class="caret"></span></button>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#">Pounds (lb)</a></li>
							<li><a href="#">Kilograms (kg)</a></li>
						</ul>
					</div><!-- /btn-group -->
					<input type="text" class="form-control" aria-label="...">
				</div><!-- /input-group -->
			</div><!-- /.col-lg-6 -->
		</div><!-- /.row -->






        @content

	    <div id="footer">
	      <div class="container">
			<p class="text-muted">This is a work in progress to learn the Scala Play Framework. Training
				done under S-Mach. - Justin Luk </p>
		</div>
	    </div>
        
        <!-- Bootstrap core JavaScript
	    ================================================== -->
	    <!-- Placed at the end of the document so the pages load faster -->
	    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))"></script>
	    
	    <!-- Latest compiled and minified JavaScript -->
		<script src="@routes.WebJarAssets.at(WebJarAssets.locate("bootswatch-united", "bootstrap.min.js"))"></script>
    </body>
</html>
